<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emergencyapplication">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmergencyApplication">
        <activity android:name=".CovidWatcher.PhoneSignUpActivity"></activity>
        <activity android:name=".CovidWatcher.OTPAuthActivity" />
        <activity android:name=".CovidWatcher.InfoDialogActivity" />
        <activity android:name=".CovidWatcher.ViewUserDataActivity" />
        <activity android:name=".CovidWatcher.ReStatusCheckboxActivity" />
        <activity android:name=".CovidWatcher.ForgotPasswordActivity" />
        <activity android:name=".CovidWatcher.StatusCheckboxActivity" />
        <activity android:name=".CovidWatcher.ReProfileActivity" />
        <activity android:name=".CovidWatcher.CovidGuidelineActivity" />
        <activity android:name=".CovidWatcher.ProfileActivity" />
        <activity android:name=".CovidWatcher.SignUpActivity" />
        <activity android:name=".CovidWatcher.CovidDashboard" />
        <activity android:name=".CovidWatcher.CovidWatcherActivity" />
        <activity android:name=".FirstAids.BleedingActivity" />
        <activity android:name=".FirstAids.ChokingActivity" />
        <activity android:name=".FirstAids.SprainsActivity" />
        <activity android:name=".FirstAids.FractureActivity" />
        <activity android:name=".FirstAids.CPRActivity" />
        <activity android:name=".FirstAids.BurnsActivity" />
        <activity android:name=".FirstAids.AnimalBitesActivity" />
        <activity android:name=".Disasters.FireDisasterActivity" />
        <activity android:name=".Disasters.GoBagActivity" />
        <activity android:name=".Disasters.VolcanicActivity" />
        <activity android:name=".Disasters.TsunamiActivity" />
        <activity android:name=".Disasters.FloodActivity" />
        <activity android:name=".Disasters.EarthquakeActivity" />
        <activity android:name=".Disasters.StormSurgeActivity" />
        <activity android:name=".Disasters.StormActivity" />
        <activity android:name=".TrustedContactsActivites.InstantSOS" />
        <activity android:name=".TrustedContactsActivites.TrustedContactsMessageActivity" />
        <activity android:name=".FirstAidActivity" />
        <activity android:name=".DisastersActivity" />
        <activity android:name=".DisasterAndEmergencyGuidelineButtonActivity" />
        <activity android:name=".HelplineActivity" />
        <activity android:name=".EmergencyHotlineButtonActivity" />
        <activity android:name=".FireActivity" />
        <activity android:name=".MedicalActivity" />
        <activity
            android:name=".MainDashboardActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".SideDockContents.AboutUsSideDock"
            android:launchMode="singleTask" />
        <activity
            android:name=".SideDockContents.SirenAndFlickerLightSideDock"
            android:launchMode="singleTask" />
        <activity
            android:name=".SideDockContents.GovernmentAgenciesSideDock"
            android:launchMode="singleTask" />
        <activity
            android:name=".SideDockContents.TrustedContactsSideDock"
            android:launchMode="singleTask" />
        <activity android:name=".TrustedContactsActivites.TrustedContactDetailActivity" />
        <activity android:name=".TrustedContactsActivites.ViewActivity" />
        <activity android:name=".TrustedContactsActivites.InsertActivity" />
        <activity android:name=".CrimeActivity" />
        <activity android:name=".AnimationMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".Disasters.GoBagFragments.AlertReceiverGoBag" />
    </application>

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>